@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
}
button {
  font: inherit;
  color: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.catalog {
  &__title {
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 80px;
  }
  margin-bottom: 100px;
  &__grid {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: 1fr;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-left: 40px;
    width: 100%;
  }
  &__item {
    background-color: #fff;
    padding: 30px 0 40px 0;
  }
  &__item-img {
    width: 100%;
    padding-top: 70%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

  }
  &__item-content {
    padding: 20px 35px 0;
  }
  &__item-info {
    font-size: 12px;
    font-weight: 300;
    color: #474c55;
  }
  &__item-about, &__item-price {
    margin-top: 12px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }
  &__item-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 11px;
    font-weight: 400;
  }
  &__desc-item {
    margin-bottom: 5px;
    margin-right: 5px;
    background: #f2f2f2;
    padding: 10px;
    margin-top: 14px;
  }
  &__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }

}
.filter-wrapper {
  width: calc(25% - 2.3vw);
  min-width: calc(25% - 2.3vw);
}


@media (min-width: 1000px ) {
  .filter {
    position: sticky;
    top: 70px;
  }
}
@media  (max-width: 1580px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 1340px) {
  .catalog {
    &__title {
      font-size: 45px;
      margin-top: 65px;
      margin-bottom: 60px;
    }
    &____grid {
      -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      padding-left: 30px;
    }
  }


  .filter-wrapper {
    width: calc(33.3% - 2.3vw);
    min-width: calc(33.3% - 2.3vw);
  }
}
@media (max-width: 1000px) {
  .catalog {
    &__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      -webkit-box-align: center;

      -ms-flex-align: center;

      align-items: center;

    }
    &__grid {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0;
    }
    &__title {
      font-size: 30px;
      margin-top: 45px;
      margin-bottom: 40px;
    }

  }


  .filter-wrapper {

    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;

  }

}

@media (max-width: 720px) {
  .catalog__grid {

    max-width: 400px;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }
  .filter  {
    padding: 30px !important;
  }
  .catalog__item {
    padding: 20px 0 ;
  }
}
